
@{
    ViewData["Title"] = "Import";
}

<h1>Import</h1>

<form method="post" id="formImport" enctype="multipart/form-data">
    <input type="file" name="file" accept=".csv" />
    <button type="submit">Submit</button>
</form>